{% extends 'base.html.twig' %}

{% block title %}Hello UtilisateurController!{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>
    <p><a href="{{ path('ajouter_utilisateur') }}">Ajouter un utilisateur</a></p>
    <table border="">
    <thead>
    <th>Nom</th>
    <th>Prenom</th>
    <th>Email</th>
    <th>CIN</th>
    <th>Passeport</th>
    <th>Login</th>
    <th>Photo</th>
    <th>Role</th>
    <th></th>
    <th></th>
    <th></th>
    </thead>
    {% for utilisateur in utilisateurs %}
            <tbody>
            <td>{{ utilisateur.nom }}</td>
            <td>{{ utilisateur.prenom }}</td>
            <td>{{ utilisateur.email }}</td>
            <td>{{ utilisateur.cin }}</td>
            <td>{{ utilisateur.passeport }}</td>
            <td>{{ utilisateur.login }}</td>
            <td>{{ utilisateur.photo }}</td>
            <td>{{ utilisateur.role }}</td>
            <td><a href="{{ path('utilisateur', {'id': utilisateur.id}) }}">Accéder</a></td>
            <td><a href="{{ path('modifier_utilisateur', {'id': utilisateur.id}) }}">Modifier</a></td>
            <td><a href="{{ path('supprimer_utilisateur', {'id': utilisateur.id}) }}">Supprimer</a></td>
            </tbody>
    {% endfor %}
    </table>
{% endblock %}